<!DOCTYPE html>
<html>
  <head>
    <title>Discoded</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.background = "<%= image_url('session_background.jpg') %>";
      window.logoURL = "<%= image_url('logo.png') %>";
      window.logoTYPE = "<%= image_url('TYPEDUP.png') %>";
      window.bomb = "<%= image_url('bomb.svg') %>";
      window.cartridge = "<%= image_url('cartridge.svg') %>";
      window.controller ="<%= image_url('contoller.svg') %>";
      window.laptop = "<%= image_url('laptop.svg') %>";
      window.triangle = "<%= image_url('triangle.svg') %>";
      window.phone = "<%= image_url('phone.svg') %>";
      window.coin = "<%= image_url('coin.svg') %>";
      window.square = "<%= image_url('square.svg') %>";
      window.dot = "<%= image_url('dot.svg') %>";
      window.computer = "<%= image_url('computer.svg') %>";
      window.cell = "<%= image_url('phone2.svg') %>";
      window.x = "<%= image_url('x.svg') %>";
      window.headset = "<%= image_url('headset.svg') %>";
      window.box = "<%= image_url('box.svg') %>";
    </script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
